h1{
	font-size: 4em;
}
h2{
	font-size: 2em;
}

dl dt{
	font-weight: bold;
	font-size: 1.4em;
}
dl dd{
	font-size: 1.4em;
	
}



ul.genreMenu{
	list-style: none;
}
ul.genreMenu li{
	display: inline;

	}
	
div.titel{
	display: inline;
	}
	

	
	
	table.zebra tr:nth-child(even ) 
{ 
  /* de browser past deze opmaak toe op
     oneven (odd) tr elememten die behoren tot een table
     element met de class zebra */
  background-color: #c6d1dd;
} 
table.zebra tr:nth-child(odd) 
{ 
  /* de browser past deze opmaak toe op
     even tr elememten die behoren tot een table
     element met de class zebra */
  background-color: #efefef;
  padding-bottom: 0.1em;
padding-top: 0.1em;
}
	table.zebra tr.titelRij
{ 
 
 background-color: #c6d1dd;
} 